@import "variables/personal_variables";
@import "variables/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";
@import "components/*";

ul {
    text-decoration: none;
    list-style: none;
}