$('#list-group').prepend('<li  class="list-group-item w-25 d-flex justify-content-center"><a href="#"><%= @email_listing.body %></a></li>');

$('#list-group').prepend('<li  class="list-group-item w-25 d-flex justify-content-center"><%= @email_listing.object %></li>');
